fastapi
uvicorn[standard]
websockets
gunicorn
networkx
scikit-learn
numpy
pandas
pydantic
email-validator
python-dotenv
requests
httpx
python-jose[cryptography]
firebase-admin
SQLAlchemy
passlib[bcrypt]
psycopg2-binary
twilio
feedparser
